body {
    
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.clock{
    display: block;
    margin: 25px;

}
.hour, .minute, .second{
    height:35px;
    width:35px;
    /* margin:auto;
    position:relative */
    left:100px;
    background-color: aquamarine;
    border: 2px;
    color:black;
    border-radius:5px;
}